.x-page-container {
  max-width: 63%;
  display: block;
  margin: 50px auto;
}

.x-separator-10 {
  display: block;
  height: 10px;
}

.x-separator-20 {
  display: block;
  height: 20px;
}

.x-align-center {
  text-align: center;
}

.x-upper-case {
  text-transform: uppercase;
}

.x-over-flow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.x-row-full {
  display: flex;
  width: 100%;
  align-items: center;
}

.x-col-50 {
  display: inline-block;
  width: 50%;
}

.x-input-text {
  height: 50px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.x-input-button {
  padding: 10px 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background: #fff;
  color: #0046a8;
  transition: 0.3s;
}

.x-input-button:hover {
  padding: 10px 50px;
  border: 1px solid #0046a8;
  background: #0046a8;
  color: #fff;
}

.x-input-button.full {
  width: 100%;
}

.x-input-button.w-95 {
  width: 95%;
}

.x-exchange-result-box {
  padding: 20px;
  font-size: 16px;
  background: #f0f0f0;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.dark .x-exchange-result-box {
  background: #262627;
}

.x-address-box {
  text-align: center;
  background: white;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.x-page-title {
  font-size: 28px;
  border-bottom: 1px solid #0046a8;
  width: 100%;
  padding-bottom: 10px;
}